@{
    ViewBag.Title = "ShowParticipants";
}
@model List<MyProject.Models.userANDevent>
@{int i = 1;}
    <head>
        <style>
                        #myButton {
	            -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	            -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	            box-shadow: 3px 4px 0px 0px #8a2a21;
	            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	            background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	            background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	            background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	            background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	            background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	            background-color:#c62d1f;
	            -moz-border-radius:18px;
	            -webkit-border-radius:18px;
	            border-radius:18px;
	            border:1px solid #d02718;
	            display:inline-block;
	            cursor:pointer;
	            color:#ffffff;
	            font-family:Arial;
	            font-size:17px;
	            padding:7px 25px;
	            text-decoration:none;
	            text-shadow:0px 1px 0px #810e05;
            }
            #myButton:hover {
	            background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	            background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	            background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	            background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	            background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	            background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	            background-color:#f24437;
            }
            #myButton:active {
	            position:relative;
	            top:1px;
            }
        </style>
    </head>
<div>
    <table style="margin:1px" class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col" style="font-size:20px">#</th>
                <th style="color:white; font-size:20px" scope="col"><b>User Name</b></th>
                <th style="color:white; font-size:20px" scope="col"><b>Event Name</b></th>
                <th style="color:white; font-size:20px" scope="col"><b>Status</b></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@i</th>
                <th scope="row">@item.userName</th>
                <td>@item.eventName</td>
                @if (@Session["name"].ToString().Trim().Equals(@item.userName.Trim()))
                {
                    using (Html.BeginForm("DeleteParticipant", "Home", FormMethod.Post))
                    {
                        string email = @Session["name"].ToString().Trim();
                        <td><button id="myButton" value="@item.eventName" name="itemEventName2" class="" type="submit">Quit Going</button></td>
                    }
                }else
                {
                    <td><button  class="btn btn-info disabled">Going</button></td>
                }

            @{i++;}
            </tr>
                
            }
        </tbody>
    </table>
</div>